#ignore a specific file

~/Lab2/StrikesDC.ods
TradeUnion.aux
TradeUnion.fls
TradeUnion.fdb_latexmk
TradeUnion.log
TradeUnion.out
TradeUnion.pyg
TradeUnion.synctex.gz


TradeUnion(2).aux
TradeUnion(2).fls
TradeUnion(2).fdb_latexmk
TradeUnion(2).log
TradeUnion(2).out
TradeUnion(2).pyg
TradeUnion(2).synctex.gz


